{% extends 'base.html' %} {% block content %}
<h1 style="color: brown">{% block title %} Devices {% endblock %}</h1>
<hr />
<div class="form-group" style="float: right">
  <a href="{{ url_for('devices.new_device') }}"
    ><button type="submit" class="btn btn-primary">+ ADD</button></a
  >
</div>

{% for device_data in devices_data %}
<div>
  <a
    href="{{ url_for('devices.single_device', device_id=device_data['Device_ID']) }}"
  >
    <h3>
      Device {{ device_data['Device_ID'] }}: {{ device_data['Device_Name'] }}
      &nbsp;&nbsp;
    </h3>
  </a>
</div>
<div style="float: left; width: 5%">
  <a
    href="{{ url_for('devices.edit_device', device_id=device_data['Device_ID']) }}"
  >
    <input type="submit" value="Edit" class="btn btn-danger btn-sm" />
  </a>
</div>

<form
  action="{{ url_for('devices.delete_device', device_id=device_data['Device_ID']) }}"
  method="POST"
>
  <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
</form>

<br />
{% endfor %} {% endblock %}
